<!DOCTYPE html>
<html>
	<title>Auth-Webssite</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../css/base_log_reg.css">

	<script type="text/javascript">
		$(document).ready(() => {
			$('#messagebox').hide();
			$("#login-form").submit((event) => {
				event.preventDefault();
				fetch("users/login", {
                    headers: {
						'Content-Type': 'application/x-www-form-urlencoded'
					  },
					  method: 'POST',
					  body: $('#login-form').serialize()
                }).then(data => {
					//check response code
					if(data.status == 200){
						$("#messagebox").show()
						$("#messagebox").html('Logged In')
						$("#messagebox").fadeOut(5000);
						setTimeout(() => {
							window.location.href = "dashboard"
						}, 3000);
					} else{
						$("#messagebox").show()
						$('#messagebox').html('<strong>Error!</strong> User Not Found');
						$("#messagebox").fadeOut(5000);
					}
                }).catch(console.error);
			});
		});
		(function($) {
			$(function() {
			  $('nav ul li a:not(:only-child)').click(function(e) {
				$(this).siblings('.nav-dropdown').toggle();
				$('.nav-dropdown').not($(this).siblings()).hide();
				e.stopPropagation();
			  });
			  $('html').click(function() {
				$('.nav-dropdown').hide();
			  });
			  $('#nav-toggle').click(function() {
				$('nav ul').slideToggle();
			  });
			  $('#nav-toggle').on('click', function() {
				this.classList.toggle('active');
			  });
			});
		  })(jQuery);

	</script>
</head>
<body>
	<%-include("partial/header", {loggedin:''}) %>
	<div class='oaerror info' id="messagebox"></div>
	<div class="login-box">
		<h2>Log In</h2>
		<form id="login-form" method="post" autocomplete="off">
			<div class="user-box">
				<input type="email" name="email" placeholder="" required="" pattern="[-!#$%&'*+\/0-9=?ก-๙A-Z^_a-z`{|}~](\.?[-!#$%&'*+\/0-9=?ก-๙A-Z^_a-z`{|}~])*@[ก-๙a-zA-Z0-9](-*\.?[ก-๙a-zA-Z0-9])*\.[ก-๙a-zA-Z](-?[ก-๙a-zA-Z0-9])+$">
	
				<label>Email</label>
			<div class="user-box">
				<input type="password" name="password" placeholder="Password" required>
				<label>Password</label>
			</div>
			<br>
            <br>
			<div class="user-box">
				<input type="submit" name="submit" id="submitform" value="Log In" class="btn">
			</div>
		</form>
        <br>
        <a href="/register">Sign Up Instead</a>
	</div>

</body>

</html>


